<div class="container">
    <div class="row">

        <div class="col-md-5 col-sm-6">
            <div class="about-info">
                <div class="section-title">
                    <h2>Познакомимся поближе!</h2>
                    <span class="line-bar">...</span>
                </div>
                <p>Привет! Я обучаюсь İT 18 месяцев - меня зовут Фаик Мамедов! </p>
                <p>Родился я в стране Азербайджан в городе - Баку в 2010 году - мне 10 лет и я рад с вами познакомится! надеюсь мы подружимся и поймем друг друга! </p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="about-info skill-thumb">

                <strong>Создание вебсайтов</strong>
                <span class="pull-right">80%</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                </div>

                <strong>Создание программ</strong>
                <span class="pull-right">75%</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>

                <strong>Невнимательность</strong>
                <span class="pull-right">70%</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                </div>

                <strong>Создание Датабаз</strong>
                <span class="pull-right">65%</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                </div>

            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="about-image">
                <img src="~/Models/images/about-image.jpg" class="img-responsive" alt="">
            </div>
        </div>

    </div>
</div>