<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <div class="section-title">
                <h2>Our Blog</h2>
                <span class="line-bar">...</span>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <!-- BLOG THUMB -->
            <div class="media blog-thumb">
                <div class="media-object media-left">
                    <a href="blog-detail.html"><img src="~/Models/images/blog-image1.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="media-body blog-info">
                    <small><i class="fa fa-clock-o"></i> December 22, 2017</small>
                    <h3><a href="blog-detail.html">How To Find Out Beautiful Workspace.</a></h3>
                    <p>It’s time to get your office out of fluorescent lights and beige carpet and into open spaces and inspiring colours.</p>
                    <a href="#" class="btn section-btn">Read article</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <!-- BLOG THUMB -->
            <div class="media blog-thumb">
                <div class="media-object media-left">
                    <a href="blog-detail.html"><img src="~/Models/images/blog-image2.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="media-body blog-info">
                    <small><i class="fa fa-clock-o"></i> December 18, 2017</small>
                    <h3><a href="blog-detail.html">woman sportwear.</a></h3>
                    <p>home workouts or you just like that athleisure aesthetic, take your pick of trainers, gym leggings and more from our edit of women’s activewear.</p>
                    <a href="#" class="btn section-btn">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <!-- BLOG THUMB -->
            <div class="media blog-thumb">
                <div class="media-object media-left">
                    <a href="blog-detail.html"><img src="~/Models/images/blog-image3.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="media-body blog-info">
                    <small><i class="fa fa-clock-o"></i> December 14, 2017</small>
                    <h3><a href="blog-detail.html">new creative fashion.</a></h3>
                    <p>hough we've forever been proponents of the little guys, it's never been more important to highlight buzzy, new designers than it is right now.</p>
                    <a href="#" class="btn section-btn">Read article</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">

            <div class="media blog-thumb">
                <div class="media-object media-left">
                    <a href="blog-detail.html"><img src="~/Models/images/blog-image4.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="media-body blog-info">
                    <small><i class="fa fa-clock-o"></i> December 10, 2017</small>
                    <h3><a href="blog-detail.html">minimalist design trend in 2018.</a></h3>
                    <p>as they say, “everything old is new again,” and 2018 will be a year of modernizing graphic design trends from the past </p>
                    <a href="#" class="btn section-btn">View Detail</a>
                </div>
            </div>
        </div>

    </div>
</div>
